<div class="wrapper">
  <div class="master-div">
    <div fxLayout="row" fxLayoutAlign="center center">
     <div class="banner" fxLayoutAlign="center center">
       <div class="main-page-title">
         <h1>Spatial Meetings</h1>
       </div>
     </div>
   </div>
   <div class="main-page-info">
     <div class="container">
       <div fxLayout="row">
           <div>
               <div class="vertical-center">
 
                 <div id="enter-create-room"  >
                   <h2 class="text-center">Crear nueva sala</h2>
                   <div fxLayoutAlign="center center">
                     <mat-form-field >
                       <input [(ngModel)]="room" matInput placeholder="Nombre de la sala">
                     </mat-form-field>
 
                     <mat-form-field appearance="fill" fxLayout="row">
                       <mat-label>Seleccionar una opcion</mat-label>
                       <mat-select [(ngModel)]="method">
                         <mat-option value="Crear">Crear</mat-option>
                         <mat-option value="Unirse">Unirse</mat-option>
                       </mat-select>
                     </mat-form-field>
                     <button mat-raised-button color="accent" (click)="onButtonClicked()">{{ method }}</button>
                   </div>
                 </div>
               </div>
           </div>
         </div>
     </div>
   </div>
 
 </div>
 <mat-divider></mat-divider>
 <section>
   About
 </section>
 <mat-divider></mat-divider>
 <footer>
   <div>
   <button mat-icon-button color="accent" (click)="goToUrl('https://github.com/Shawarma-ASSD/spatialmeetings')" >
     <mat-icon svgIcon="github"></mat-icon>
   </button>
 </div>
 </footer>
</div>