.master-div{
  position: relative;
  width: 100%;
  height: 100vh;

}

.banner {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 300px;
  max-height: 1200px;
}

.main-page-title {
  text-align: center;
  color: #e91e63;
}

.text-center {
  text-align: center;
}