.master-div{
  position: relative;
  width: 100%;
  height: 100vh;

}

.banner {
  position: relative;
  min-height: 300px;
  max-height: 1200px;
}

.main-page-title {
  text-align: center;
  color: #e91e63;
}
.main-page-info{
  position: relative;

  min-height: 300px;
  max-height: 1200px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.text-center {
  position: relative;
  text-align: center;
}
h1{
  font-size: 60px;
}

.wrapper{
  background-image: url('../../../assets/back4.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}