.master-div{
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner {
  position: relative;
  min-height: 300px;
  max-height: 1200px;
}

.main-page-title {
  text-align: center;
  color: #e91e63;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.text-center {
  position: relative;
  text-align: center;

}

h1{
  font-size: 90px;
  color: white;
  font-family: Bebas;
  text-align: center;
  margin-bottom: auto;
  line-height: 90px;
}

.subtext{
  text-align: center;
  font-size: 30px;
  color: lightgrey;
}

h2{
  text-align: center;
  color: lightgrey;
}

.transparent{
  position: absolute;
  background-color: transparent;
  align-self: end;
}

.example-spacer {
  flex: 1 1 auto;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

.about {
  color:white;
}

.mat-card{
  background-color: rgba(53, 53, 53, 0.5);
}

.mat-form-field{
  margin: 5px;
}

p {
  font-size: x-small;
  font-family: 'Trebuchet MS';
  text-align: justify;
  line-height: normal;
  color: white;
}

#footer {
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer img {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
}

#login-text {
  font-size: small;
  margin-right: 5px;
}

.log-button {
  vertical-align: middle;
}

@font-face {
  font-family: BebasNeue;
  src: url("../../../assets/webfonts/BebasNeue-Regular.otf");
}

@font-face {
  font-family: Bebas;
  src: url("../../../assets/webfonts/Bebas-Regular.otf");
}

.wrapper{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url('../../../assets/back5.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
