<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="content-container"> 
            <div class="container">
                <div class="attendees-container">
                    <!-- 
                        Attendee Container
                        Boundary container for the draggable AttendeeComponent, views of the Attendee model 
                    -->
                    <div class="remote-attendees-container">
                        <div *ngFor="let attendee of attendees" class="attendee-container" cdkDrag cdkDragBoundary=".attendees-container" (cdkDragEnded)="attendee.setPosition($event.source.getFreeDragPosition())">
                            <app-attendee [attendee]="attendee"></app-attendee>
                        </div>
                    </div>
                        
                    <!-- 
                        Isolating the local AttendeeComponent's instance, not a draggable component.
                    -->
                    <div *ngIf="local" class="local-attendee-container">
                        <app-attendee [attendee]="local"></app-attendee>
                    </div>
                </div>
                
                <!-- 
                    Control Container
                    Contains action buttons for the local attendee during the meeting 
                -->
                <div class="media-button-container">
                    <div id="meeting-buttons">
                        <button mat-mini-fab color='basic' (click)="toggleMicrophone()">
                            <mat-icon>
                                {{local?.microphone | micicon}}
                            </mat-icon>
                        </button>
                        <button mat-fab color='warn' (click)="hangOut()">
                            <mat-icon>
                                call_end
                            </mat-icon>
                        </button>
                        <button mat-mini-fab color='basic' (click)="toggleCamera()">
                            <mat-icon>
                                {{local?.camera | cameraicon}}
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="general-button-container">
                <button mat-mini-fab color='accent' (click)='sidenav.toggle()'>
                    <mat-icon>
                        menu
                    </mat-icon>
                </button>
                <button mat-mini-fab color='link' (click)='shareLink()'>
                    <mat-icon>
                        share
                    </mat-icon>
                </button>
            </div>
        </div>  
    </mat-sidenav-content>
    <mat-sidenav #sidenav position="end" hasBackdrop="false" mode="over">
        <div class="members-container">
            <mat-list>
                <mat-list-item *ngIf="local">
                    <app-attendee-panel [attendee]="local"></app-attendee-panel>
                </mat-list-item>
                <mat-list-item *ngFor="let attendee of attendees">           "     
                    <app-attendee-panel [attendee]="attendee"></app-attendee-panel>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="setting-container">
            <mat-icon class="material-icons-two-tone">volume_up</mat-icon>
            <mat-slider min="0.1" max="100" step="1" value="100" (change)="setVolume($event.value)"></mat-slider>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
